.font26 {
  font-size: 26px !important;
}
.alert-light {
  background: transparent;
}
.alert-light h2 {
  font-weight: 300;
}
p {
  margin-bottom: 0;
}
.custom-padding {
  padding: 0.375rem 0.75rem;
}
